[submodule "oca/account-financial-reporting"]
	path = oca/account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting
	branch = 15.0
[submodule "oca/account-financial-tools"]
	path = oca/account-financial-tools
	url = https://github.com/OCA/account-financial-tools
	branch = 15.0
[submodule "oca/account-invoicing"]
	path = oca/account-invoicing
	url = https://github.com/OCA/account-invoicing
	branch = 15.0
[submodule "oca/bank-statement-import"]
	path = oca/bank-statement-import
	url = https://github.com/OCA/bank-statement-import
	branch = 15.0
[submodule "oca/community-data-files"]
	path = oca/community-data-files
	url = https://github.com/OCA/community-data-files
	branch = 15.0
[submodule "oca/l10n-spain"]
	path = oca/l10n-spain
	url = https://github.com/OCA/l10n-spain
	branch = 15.0
